//@import 'utils';

$font-stack:    Helvetica, sans-serif;
$primary-color: red;
$size: 100px;

@mixin place-at-center() {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section {
  padding: 20px;
  float: left;
  border-color: black;
  font: 100% $font-stack;
  color: $primary-color;

}

.box {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  width: $size;
  height: $size;
  background-color: dodgerblue;

  &:hover {
    background: red;
  }
  &:active {
    background: yellow;
  }

  @include place-at-center();

}

%message-shared {
  border: 1px solid #ccc;
  padding: 20px;
  width: 25%;
  color: #333;
}

.message {
  @extend %message-shared;
}

.success {
  @extend %message-shared;
  border-color: green;
}

.error {
  @extend %message-shared;
  border-color: red;
}

.warning {
  @extend %message-shared;
  border-color: yellow;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .message, .success, .error, .warning {
    width:100%;
  }
}
